html{
	font-family: Futura, sans-serif;
	font-size: 3em;
	text-align: center;
	margin-top: 100px;
	color: white;
}

#box1{
	display: block;
	background-color: #FFAC00;
	border-radius: 10px;
	padding: 40px;
	margin: 70px;
}

#box2{
	font-family: Futura;
	display: block;
	background-color: #FFAC00;
	border-radius: 10px;
	padding: 40px;
	margin: 70px;
}